:root {
    --main-color-pinegreen: rgb(7, 66, 49);
    --main-color-black: #222222;
}

body {
    font-family: 'Montserrat';
}

.container {
    width: 80%;
    padding: 0 1em;
}

.text-green {
    color: var(--main-color-pinegreen);
}

nav {
    background-color: white;
    
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar-brand {
    font-weight: 500;
}

.navbar-toggler{
    max-width: 50%;
}

.active {
    color: rgb(0,98,105);
}

/* HERO SECTION STYLING */

.hero {
    background-color: var(--main-color-black);
    padding: 10em 0;
}

.hero-header {
    font-family: 'DM Serif Display', serif;
    color: white;
}

.hero h1 {
    font-size: 4vw;
    border-bottom: solid 2px white;
    width: fit-content;
}

.subheader {
    font-family: 'Montserrat';
    font-size: 1.5em;
    margin: .5em 0;
}

.btn-dark {
    background-color: rgb(7, 66, 49);
    --bs-btn-active-bg: rgb(12, 119, 89);
    padding: 1em 1.5em;
    font-family: 'Montserrat';
    font-weight: 700;
}

.btn-dark:hover {
    background-color: rgb(12, 119, 89);
}

/* WORK SECTION */

.work {
    background-color: whitesmoke;
    height: auto;
    padding: 6em 0;
}

.project {
    padding-bottom: 1.5rem;
}

.card {
    height: auto;
}

.card p {
    line-height: 1.75;
}

.card-title {
    font-family: 'DM Serif Display', serif;
    color:  var(--main-color-pinegreen);
    font-size: 1.75em;
    font-weight: 500;
}



.btn-primary {
    background-color: rgb(7, 66, 49);
    --bs-btn-active-bg: rgb(7, 66, 49);
    --bs-btn-active-border-color: rgb(7, 66, 49);
}

.btn-primary:hover {
    background-color: rgb(12, 119, 89);
    border: solid 1px rgb(12, 119, 89);
}

.btn-secondary {
    background-color: white;
    border: solid 1px rgb(7, 66, 49);
    color: rgb(7, 66, 49);
    --bs-btn-active-bg: rgb(12, 119, 89);
}

.btn-secondary:hover {
    background-color: rgb(12, 119, 89);
    border: solid 1px rgb(12, 119, 89);
    color: white;
}

.btn-secondary:active {
    background-color: rgb(12, 119, 89);
    border: solid 1px rgb(12, 119, 89);
    color: white;
}

/* ABOUT ME SECTION */
.about-me-section {
    background-color: var(--main-color-pinegreen);
    padding: 6em 0;
}

.about-me-section p {
    line-height: 1.75;
}
.about-header
{
    font-family: 'DM Serif Display', serif;
    color: white;
}

/* CONTACT SECTION */
.contact-section {
    background-color: var(--main-color-black);
    padding: 6em 0;
}

.contact-header
{
    font-family: 'DM Serif Display', serif;
    color: white;
}

.social-links {
    list-style: none;
    display: inline-block;
    justify-content: left;
}

.social-links li {
    max-width: fit-content;
    
}

.social-media-icon {
    max-width: 1.5em;
    margin-right: 2em;
}

@media (max-width: 768px) {

    .container {
        width: 95%;
        padding: 0 1em;
    }
    
    .hero {
        padding: 5rem 0px;
    }

    h1 {
        color: white;
        /* margin-top: 15px; */
        /* padding-top: 50px; */
        margin-bottom: 15px;

    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card-body .btn-primary {
        margin-bottom: 1em;
    }

 }